@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    margin: 0px;
    overflow-x: hidden;
    /* background-color: black; */
    /* cursor: none; */
}

::-webkit-scrollbar {
    background: rgb(255, 255, 255); 
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(229, 229, 229);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 5px;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 255, 255, 255;
      --background-end-rgb: 255, 255, 255;
    }
  }
  
  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }

  p {
    margin: 40px;
  }
  ul {
    margin: 40px;
    padding-left: 120px;
    list-style-type:disc;
  }
  ol {
    margin: 10px;
    padding-left: 120px;
    list-style-type:auto;
  }

  
  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  @layer base {
    html {
      font-family: "Proxima Nova", system-ui, sans-serif;
    }
  }