@import '../components/Layout/Stairs/styles.scss';
@import '../components/Layout/Inner/style.scss';
@import '../components/Layout/Curve/style.scss';
@import '../components/header/style.module.scss';
@import '../components/stickyCursor/style.module.scss';

// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.main{
    .header{
        display: flex;
        gap: 15px;
        padding: 40px;
        height: 30px;
        position: fixed;
        left: 0px;
        top: 0px;
        a{
            text-decoration: none;
            color: black;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .page{
        // padding: 40px;
        min-height: calc(100vh - 80px);
    }
    h1{
        margin-top: 50px;
    }
    .body{
        display: flex;
        gap: 40px;
    }
    
}
