.embla {
    overflow: hidden;
    height: 750px;
    width: 1670px;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 1670px;;
  }

.embla__prev {
  width: 5vw
}
.embla__next {
  width: 5vw
}
  