.headerComponent{
    position: fixed;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    .burger{
        position: relative;
        display: flex;
        gap: 8px;
        // flex-direction: column;
        padding: 30px;
        pointer-events: none;
        &::before, &::after{
            // display: block;
            // content: "";
            width: 30px;
            height: 30px;
            // background-color: rgb(0, 0, 0);
        }
    }
    .bounds{
        position: absolute;
        left: 0;
        top: 0;
        // background-color: aquamarine;
        width: 100%;
        // border-radius: 50%;
        height: 100%;
        pointer-events: all;
        &:hover{
            transform: scale(3);
        }
    }
}

.headerComponentOpen{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: black;
    .burger{
        position: relative;
        display: flex;
        gap: 8px;
        // flex-direction: column;
        padding: 30px;
        pointer-events: none;
        &::before, &::after{
            // display: block;
            // content: "";
            width: 30px;
            height: 30px;
            // background-color: rgb(255, 255, 255);
        }
    }
    .bounds{
        position: absolute;
        left: 0;
        top: 0;
        // background-color: aquamarine;
        width: 100%;
        // border-radius: 50%;
        height: 100%;
        pointer-events: all;
        &:hover{
            transform: scale(3);
        }
    }
}

.headerTop{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}